* {
    box-sizing: border-box;
}

#root {

    padding: 0;
    min-height: 1500px;
    margin: 0;
    font-family: 'Open Sans', 'Lucida Grande', Arial, sans-serif;
    font-size: 13px;
    color: #333333;
    background: #fff;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
}

.header {
    background: none;
    box-shadow: none;
    position: relative;
    width: 100%;
    height: 33vh;
    background-image: url("../image/shop.jpg");
}

.header-inner {

    margin: 0;
    padding: 0;
}


.header .logo {
    position: absolute;
    left: 42%;
    top: 7vw;
    margin-left: -7vw;
    font-size: 4vw;
    text-align: center;
    float: left;
    padding: 10px;
    margin: 0 20px 0 20px;
    color: #fff;
    font-family: "Rubik", "Lucida Grande", sans-serif;
    font-weight: 500;
    display: block;
    background: no-repeat center center;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.header .logo:hover {
    text-decoration: none;
    color: #efefef;
}

.header .logo:selection {
    background: #b3d4fc;
    text-shadow: none;
}

.header .nav-search-bar {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 13vw;
    float: left;
}

.header .nav-search-bar input.search-bar {
    width: 400px;
    height: 58px;
    background: #ffffff;
    padding: 20px 20px;
    margin: 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    -moz-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    -webkit-transition: background 300ms ease;
    transition: background 300ms ease;
    color: #9aa6bc;
    border: none;
    float: left;
    border-radius: 10px;
    font-size: 14px;
    line-height: 14px;
}

.header .nav-search-bar input.search-bar:hover {
    background: #5d6371;
    color: #fff;
}

.header .nav-links {
    margin-left: 20px;
    float: left;
    overflow: hidden;
    height: 58px;
    box-sizing: border-box;
    padding: 0;
}

.header .nav-links .each-nav-link {
    color: #fff;
    font-size: 14px;
    float: left;
    padding: 20px 10px 16px 10px;
    display: block;
    border-bottom: 3px solid #272d39;
    -webkit-transition: border-color 500ms ease;
    -moz-transition: border-color 500ms ease;
    transition: border-color 500ms ease;
    border-bottom: 3px solid #0000;
}

.header .nav-links .each-nav-link:hover {
    border-bottom: 3px solid #60bd5d;
    text-decoration: none;
    background: #3b4456;
}

.login-register-group {
    float: right;
}

.login-register-group .login-register {
    height: 58px;
    float: right;
    position: relative;
    cursor: pointer;
    color: #fff;
    margin: 0 50px 0 20px;
}

.login-register-group .inbetween {
    margin: 20px 0 0 0;
    color: #525761;
    float: right;
}


.login-register-group .login {
    margin-right: 10px;
    color: #333;

}

.login-register-button {

    border: none;
    margin-top: 18px;
    color: #fff;

    float: left;
    margin: 15px 0 0 10px;
    font-weight: bolder;
    position: relative;
    z-index: 2;
    text-shadow: 0 1px 2px black;
    padding: 2px 0;
    border-radius: 2px;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    -webkit-transition: border 500ms ease, color 500ms ease;
    -moz-transition: border 500ms ease, color 500ms ease;
    transition: border 500ms ease, color 500ms ease;
}

.login-register-button:hover {
    border-color: #ffb35a;

}

.login-dropdown {
    display: block;
    margin: 62px 0 0 -120px;
    width: auto;

    padding: 0;
    margin: 62px 0 0 -120px;
    width: auto;
    right: 0px;

    float: none !important;
    width: 200px;
    position: absolute;
    z-index: 8;
    left: 50%;
}

.main {

    background: #fff;
    position: relative;
    padding-top: 10px;
    margin-top: 30px;
}

.model-type-container {
    max-width: 890px;
    margin: 40px auto 20px auto;
}


.model-type-container:after {
    content: "";
    clear: both;
    display: block;
}

.model-type-container .model-type-group {
    padding: 0px 30px;
    text-align: center;
    max-width: 890px;
    margin: 40px auto 20px auto;

    box-sizing: border-box;
    float: none;
}

.model-type-group .small-icon {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-bottom: 15px;
    height: 90px;
    text-align: center;
    width: 98px;
    color: #181c24;
}

.model-type-group .small-icon:hover {
    opacity: 0.8;
}

.small-icon .image {
    height: 50px;
    line-height: 40px;
}

.small-icon .image img {
    display: block;
    margin: 0 auto;
    font-size: 35px;
    line-height: 1;
    max-width: 100%;
    max-height: 100%;
}

.small-icon .label-container {

    line-height: 0px;
}

.small-icon .label-container .label {

    color: #555b68;
    line-height: 1.4em;
    display: inline-block;
    font-size: 12px;
}

.category-container {
    padding: 0 0 0 0;
    overflow: scroll;
    height: 1200px;
}

.categ {
    width: 100%;
    overflow: hidden;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.desc-block {
    width: 250px;
    height: 300px;
    display: block;
    justify-content: center;
    padding: 0 20px 0 0;

}

.desc-block .category-title {
    font-family: "Rubik", "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0 10px 0;
    width: 150px;
}

.desc-block .category-title .category-icon {
    position: relative;
    top: 2px;
    font-size: 24px;
    padding: 0 10px 0 0;
}

.desc-block .category-title .category-icon::after {
    content: '🏢';
    font-family: "SSPika";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.desc-block .category-title a {
    color: #272d39;
}

.desc-block .category-context {

    color: #666;
}

.example-block {
    width: 210px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    padding: 15px;
    margin-bottom: 30px;
}

.content-wrapper {}

.content-wrapper a {
    width: 100%;
    height: 180px;
    display: block;
    overflow: hidden;
    background: #f7f7f7;
    border-radius: 3px;
    line-height: 177px;

}

.content-wrapper a img {

    display: inline-block !important;
    height: 100%;
    width: auto;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%);

    vertical-align: middle;
}

.info-wrapper {}

.info-wrapper .title {
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px auto 0px;
    color: #272d39;

}

.info-wrapper .format {
    font-size: 11px;
    line-height: 14px;
    color: #485365;
    display: block;
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.info-wrapper .footer {

    margin: 7px auto 0;
}

.info-wrapper .footer .price {

    color: #60bd5d;
    font-weight: bold;
}

.info-wrapper .footer .stats {

    float: right;
}

.info-wrapper .footer .stats .download-count {

    margin-left: 8px;
    color: #9aa6bc;
    font-size: 12px;
    line-height: 18px;
}

.info-wrapper .footer .stats .download-count::before {
    content: "";
    font-family: "SSPika";
    font-size: 12px;
    line-height: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

.pagination {
    display: inline-block;
}

